# Next.js
_next/

# Pasta de jogadores dos alunos
jogadores_alunos/

# Notebooks
[[]ENUNCIADO[]]*.ipynb
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
.venv/
venv/
env/

# Variáveis de ambiente
.env

# Build / distribuição
build/
dist/
*.egg-info/

# Testes / coverage
.pytest_cache/
.coverage
htmlcov/

# Type checkers / linters
.mypy_cache/
.pyre/
.ruff_cache/

# IDEs
.vscode/
.idea/

# Logs
*.log

# SQLite
*.sqlite3
*.sqlite3-journal

# OS files
.DS_Store

# Temporary
tempCodeRunnerFile.py
